.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --border-corner: rgb(50 49 45 / 0.4);
  --subtitle-text-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --main-title-color: #FF0070;
  --accent-color: #353430;
  --subtitle-color: #353430;
  --title-decor-color: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  .page {
    background-image: url(../images/cover-image-light.png);
    --border-corner: rgb(50 49 45 / 0.4);
    --subtitle-text-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --main-title-color: #ff0070;
    --accent-color: #353430;
    --subtitle-color: #353430;
    --title-decor-color: #ff8dcb;
  }

  .decorated-zone__rec {
    display: none;
  }
}