/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.header {
  display:grid;
  position: relative;
  margin: 0 10px;
  block-size: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  gap: 32px;
  padding-bottom: 60px;
  min-height: 668px;
  padding-block-start: 20px;
}

.header-item-subtitle {
  justify-self: end;
}

.decorated-zone-rec {
  position: absolute;
  display: block;
  top: 19px;
  right: 38px;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.decorated-zone-rec::after {
  position: absolute;
  border-radius: 50%;
  content: '';
  width: 11px;
  height: 11px;
  top: 6px;
  right: -19px;
  background-color: #ff0070;
  box-shadow: 0 0 3px 2px var(--shadow-color);
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  font-family: 'IBM Plex mono', monospace;
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-top: 38px;
  margin-left:-8px;
}

.header__parahraph {
  width: 48.8%;
  justify-self: flex-end;
  align-self: center;
  height: min-content;
  margin-right: 11px;
  margin-bottom: -7px;
  color: var(--paragr-color);
}

.header__subtitle {
  width: 50%;
}

.span {
  padding-top: 108px;
}

.header__theme-menu {
  justify-self: center;
  align-self: flex-start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  text-align: center;
}
.subtitle {
  color: var(--subtitle-text-color);
  background-color: var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  display: block;
  font-weight: 700;
  font-size: 18px;
}

.background_main {
  width:99.4%;
}

.grid {
  width:99%;
}

.header__theme-menu-button {
  padding: 0 13px;
  position: relative;
  color: var(--title-h2-color);
  border: none;
  text-decoration: transparent;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  padding-inline: 12px;
  padding-block-end: 4px;
  text-transform: lowercase;
  font-family:'IBM Plex mono', monospace;
  background-color: transparent;
  width: 70px;
  height: 26px;
  cursor: pointer;
}

.tit {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--subtitle-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-h2-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  text-decoration: underline;
  cursor: pointer;
  border: 1px solid var(--border-corner);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--title-h2-color);
}

.page {
  min-inline-size: 360px;
  color:var(--text-color,#312a4e);
  font-family: var(--main-font,monospace);
  background-color: var(--bg-color, #000028);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.up_section {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap:18px;
  padding: 58px 0px 0 11px;
  margin: 0 10px;
  padding-bottom: 72px;
}

.title {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--title-h2-color);
}

.title_b {
  width: 99%;
  padding-top: 2px;
}

.letter {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:19px;
  padding-left: 11px;
  padding-right: 6px;
  padding-top:22px;
  padding-bottom: 50px;
}

.card {
  padding-top: 10px;
  width: 100%;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 129.4%;
}

.last_section {
  display: grid;
  grid-template-columns: 32% 1fr;
  padding-bottom: 30px ;
  gap:20px;
  padding-top: 25px;
  padding-left: 11px;
  padding-right: 10px;
  margin: 0 10px;
}

.last_p {
  padding-bottom: 23px;
  padding-top:10px;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.h_gap {
  padding-bottom: 20px;
}

.footer {
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_title {
  padding-bottom: 4px;
  margin-right: 5px;
  width:46%;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 3px 2px 0px var(--accent-color);
}

.gallery {
  padding-top: 22px;
  display: grid;
  gap:20px;
  padding-left: 11px;
  padding-right: 11px;
  grid-template-columns: repeat(3 ,1fr);
}

.gal__card {
  object-position: center;
  object-fit: cover;
  height:100%;
  width:100%;
}

.card_sanset {
  grid-column: span 2;
}

.card_ice {
  grid-row: span 2;
}

.card_tape {
  grid-row: 2 / 4;
}

.card_books {
  grid-column: 2/3;
}

.card_street {
  grid-column: span 2;
}

.li_l {
  padding-top:14px;
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color)
}

.text_link:hover {
  border-bottom:1px solid var(--text-color) ;
}

.text_link:focus {
  border:none;
  outline: none;
}

.text_link:focus-visible {
  border: 1px solid var(--text-color);
}

.decorated-zone::before {
  content: '';
  top: 18px;
  right: 10px;
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-corner);
  border-right: 1px solid var(--border-corner);
}

.decorated-zone::after {
  content: '';
  bottom: 21px;
  left: 10px;
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--border-corner);
  border-bottom: 1px solid var(--border-corner);
}

.page.theme_light .decorated-zone-rec {
  display: none;
}

.page.theme_dark .decorated-zone-rec {
  display: block;
}

.pic_title {
  width:97.8%;
  margin-left:12px;
}

.section_letter {
  padding-bottom: 6px;
  margin: 0 10px;
}

.section__image {
  padding-bottom: 36px;
  margin: 28px 10px;
}

.main_p {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 10px;
  color: var(--text-color);
  padding-top:10px;
}

@media (max-width : 1023px) {
  .header__theme-menu-list {
    flex-direction: column;
    padding-top: 69px;
    gap:12px;
    padding-right: 10px;
  }

  .up_section {
    padding-top: 59px;
    padding-bottom: 68px;
  }
  
  .h_gap {
    padding-bottom: 20px;
  }

  .main_p {
  max-width: 472px;
  padding-top: 8px;

  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .pic_title {
    width: 97.1%;
  }

  .last_p {
    padding-top: 11px;
  }

  .letter {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding-bottom: 47px;
    padding-top: 23px;
  }

  .last_section {
    gap: 22px;
    padding-top: 29px;
  }

  .header__title {
    font-size:  clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer_title {
    margin-left: -7px;
    padding-bottom: 10px;
    font-size:  clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .pic_title_b {
    max-width: 236px;
    padding-top: 5px;
  }

  .decorated-zone::before {
    top: 14px;
    right: 9px;
  }

  .decorated-zone::after {
    bottom: 26px;
    left: 12px;
  }
}

@media(max-width:767px ) {
  .header__theme-menu-list {
    flex-direction: column;
    padding-top: 11px;
    gap:10px;
    padding-right: 0;
  }

  .grid {
    margin-left: 7px;
    width: 98%;
  }

  .header__title {
    font-size:  clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-top: 29px;
    margin-left: -2px;
  }

  .decorated-zone::after {
    bottom: 34px;
    left: 8px;
  }

  .decorated-zone::before {
    top: -13px;
    right: 5px;
  }

  .decorated-zone-rec {
   right: 33px;
   top: 0;
  }

  .title {
    max-width: 350px;
  }
  
  .up_section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-left: 0px;
    max-width: 355px;
    padding-bottom: 35px;
  }

  .card {
    margin-left: 7px;
    max-width: 355px;
  }

  .main_p {
    padding-top: 10px;
  }

  .last_section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 11px;
    padding-top: 0px;
    padding-bottom: 2px;
    margin: 0;
  }

  .section__image {
    padding-top: 0;
   margin-left: 8px;
   margin-right: 6px;
  }

  .header__theme-menu {
    padding-top:27px;
    padding-right: 5px;
  }

  .header__theme-menu-button {
    padding-bottom: 8px;
  }

  .pic_title {
    margin-left: 0;
    margin-top: 2px;
    width: 98%;
  }

  .section_letter {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3px;
    padding-left: 0;
    margin: 0;
    
  }

  .letter {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 6px;
    padding-top: 9px;
    gap: 10px;
  }

  .last_p {
    padding-top: 12px;
  }

  .header__parahraph {
    width:100%;
    margin-right: 2px;
    margin-top: 5px;
  }

  .footer {
    margin-left: 0;
    display: flex;
    justify-content: start;
  }

  .footer_title {
    font-size:  clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-top: 0px;
    margin-left: 11px;
    margin-bottom: 32px;
  }
}
